.morechanges{
    margin-top: 8%;
    margin-bottom: 6%;
}

.morechanges h1 {
  font-size: 52.6px;
  font-weight: 645;
}

.morechanges p {
  margin-top: 5%;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
}
