.footer {
  border: 1px solid red;
  border: 1px solid red;
  background: -webkit-linear-gradient(to right, #46aaff, #86beee);
  background: linear-gradient(to right,  #46aaff, #86beee);
  color: #fff;
}

.footer ul{
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    color: white;
    margin-top: 5%;

}
.footer ul li{
    text-decoration: none;
    color: white;
    margin-left: -10%;
    margin-top: 2%;
}

.footer ul li a{
    color: #fff;
    font-size: 20px;
}
