.footer {
  background: -webkit-linear-gradient(to right, #46aaff, #7ec1fc);
  background: linear-gradient(to right,  #46aaff, #7ec1fc);
  color: #fff;
}

.footer ul{
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    color: white;
    margin-top: 5%;

}
.footer ul li{
    text-decoration: none;
    color: white;
    margin-left: -16%;
    margin-top: 2%;
}

.footer ul li a{
    color: #fff;
    font-size: 20px;
}

.footer .last-one p{
    font-size: 13px;
    line-height: 4px;
}