.container .card {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #46aaff;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: solid 20px;
}

.container .card-title {
  font-size: 32.6px;
  font-weight: 645;
  color: #46aaff;
  text-align: center;
}
